
.form-fields {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.alert {
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 3px;
    border: 1px solid currentColor;
}

.alert-danger {
    background-color: #ffdcdc;
    color: #ff3636;
}

.alert-success {
    background-color: #d4f8d4;
    color:  #16a316;
}