
<div class="form-group">
    <label for="comment-input">{{ label }}</label>
    <textarea id="comment-input"
              class="form-control"
              [ngClass]="{'is-invalid': checkMaxChars()}"
              [(ngModel)]="text"
              [maxlength]="maxChars"></textarea>
    <small [ngClass]="{'invalid-feedback': checkMaxChars()}">
        Nombre de caractères {{ text.length }}/{{ maxChars }}
    </small>
</div>

<button class="btn btn-success" (click)="addComment(text)">Ajouter</button>
